.contact-content {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    margin: 10px 20px;
}

.contact-form {
    width: 1000px;
    padding: 20px;
}

.contact-form-item-wrapper {
    width: 1000px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fdfdff;
    border: 1px solid rgba(10, 9, 31, 0.45);
    box-shadow: 8px 8px 12px rgba(10, 9, 31, 0.45);
}

.contact-form-item {
    width: 800px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.contact-form-label {
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
}

.contact-form-input {
    width: 600px;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
}

.contact-form-item-textarea {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.textarea-label {
    width: 800px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    text-align: left;
}


.contact-form-textarea {
    width: 800px;
    height: 350px;
    padding: 10px;
    border-radius: 10px;
}

.contact-form-input {
    height: 60px;
    line-height: 60px;
    outline: none;
    border: 1px solid rgba(10, 9, 31, 0.45);
    background-color: #fff;
}

.contact-form-button {
    width: 200px;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    background-color: #fff;
    color: #222;
    border: 1px solid rgba(10, 9, 31, 0.45);
    border-radius: 10px;
    box-shadow: 8px 8px 12px rgba(10, 9, 31, 0.45);
    margin: 50px auto;
}

.error {
    height: 20px;
    line-height: 20px;
    color: #ff0000;
    font-size: 16px;
    margin: 0;
}

@media screen and (min-width: 540px) and (max-width: 1024px) {
    .contact-form {
        width: 80%;
        margin: 0 auto;
    }

    .contact-form-item-wrapper {
        width: 80%;
        margin: 0 auto;
    }

    .contact-form-item,
    .contact-form-item-textarea {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .contact-form-label {
        width: 100%;
    }

    .contact-form-input,
    .contact-form-textarea {
        width: 100%;
    }

    .contact-form-textarea {
        height: 250px;
    }
}

@media screen and (max-width: 539px) {
    .contact-content {
        font-size: 16px;
    }

    .contact-form {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }

    .contact-form-item-wrapper {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .contact-form-item,
    .contact-form-item-textarea {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0;
        margin-bottom: 20px;
    }

    .contact-form-label {
        width: 100%;
        font-size: 18px;
        height: 40px;
        line-height: 40px;
    }

    .contact-form-input,
    .contact-form-textarea {
        width: 100%;
        height: 40px;
        line-height: 40px;
    }

    .contact-form-textarea {
        height: 250px;
    }

    .error {
        font-size: 13px;
        height: 20px;
        line-height: 20px;
    }
}


