/* Worksページ content-title以下の親要素 */
.works-content {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    margin: 0 auto;
}

/* Worksページ info全体の親要素 */
.works_info {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

/* Worksページ　info左側画像 */
.works_info_img {
    width: 450px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

/* Worksページ info右側テキスト＆画像 親要素 */
.works_info_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 670px;
    height: auto;
    padding: 20px;
}

/* Worksページ info右側 タイトル */
.works_info_title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

/* Worksページ info右側テキスト */
.works_info_text {
    width: 100%;
    height: auto;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    margin: 0;
}

/* Worksページ info右側 オイル画像 */
.works_oil_info_img {
    width: 450px;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
}

/* Worksページ info右側 オイルタイトル＆テキスト 親要素 */
.works_oil_info_content {
    width: 100%;
    height: 360px;
    background-image: url(../img/works_oil_back.webp);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Worksページ カスタム・ドレスアップ・新車・中古車販売 親要素 */
.works_list {
    width: 100%;
    height: auto;
    background-image: url(../img/works_back_528_bmw.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
}

/* Worksページ h3＆p 親要素 */
.works_list_item {
    width: 100%;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

/* Worksページ h3 タイトル */
.works_list_title {
    width: 100%;
    height: 60px;
    font-weight: 600;
    font-size: 32px;
    line-height: 60px;
    text-align: left;
    margin: 0;
}

/* Worksページ p テキスト */
.works_list_text {
    width: 100%;
    height: auto;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    text-align: left;
    margin: 0;
}

/* Worksページ レスポンシブ */
@media screen and (min-width: 540px) and (max-width: 1024px) {
    .works-content {
        padding-top: 30px;
    }

    .works_info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .works_info_img, .works_oil_info_img {
        width: 100%;
        height: 350px;
    }

    .works_info_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .works_info_title {
        font-size: 20px;
        height: 40px;
        line-height: 40px;
    }

    .works_info_text {
        font-size: 18px;
    }

    .works_list_item {
        height: 100px;
    }

    .works_list_title {
        font-size: 20px;
        height: 40px;
        line-height: 40px;
    }

    .works_list_text {
        font-size: 18px;
    }
}

@media screen and  (max-width: 539px) {
    .works-content {
        padding-top: 30px;
    }

    .works_info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
    }

    .works_info_img,
    .works_oil_info_img {
        width: 100%;
        height: 300px;
    }

    .works_info_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .works_info_title {
        font-size: 20px;
        height: 40px;
        line-height: 40px;
    }

    .works_info_text {
        font-size: 18px;
        text-align: justify;
    }

    .works_list {
        margin-bottom: 20px;
        background-repeat: repeat-y;
    }

    .works_list_item {
        height: auto;
    }

    .works_list_title {
        font-size: 20px;
        height: 40px;
        line-height: 40px;
    }

    .works_list_text {
        font-size: 18px;
    }
}